{% extends 'base.html.twig' %}

{% block title %}
    Hello AuthController! 
            
        
    
{% endblock %}

{% block body %}
    {% if error %}
        <div>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image"></div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form action="{{ path('app_sign_in') }}" method="post">
                            <div class="form-outline mb-4">
                                <label for="username">
                                    Email:                          
                                                                                                        
                                                                    
                                </label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="password">
                                    Password:                                  
                                                                                                        
                                                                    
                                </label>
                                <input type="password" id="password" name="_password" />
                            </div>
                            <input type="hidden" name="_target_path" value="/project" />

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    login                      
                                                                    
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    